h1, h2, p {
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: linear-gradient(45deg, #42c2d6, #4b747a); 
}


nav {
    background-color: #006f74;
    padding: 13px;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.4s ease, color 0.4s ease;
}

nav a:hover {
    background-color: #4b747a;
    color: #f8f8f8;
}



main h1 {
    color: rgb(5, 9, 14);
    
}

img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main p {
    padding: 10px;
    font-size: 18px;
}

main {
    max-width: 840px;
}

aside {
    width: 30rem;
    margin: 1rem;
    margin-top: 2rem;
    border: 1px solid black;
    padding: 1rem;
    padding-top: 0.3rem;
    background-color: rgba(87, 153, 186, 0.8);
    color: black;
    text-align: center;
}

aside img {
    width: 200;
    height: auto;
}

aside h2 {
    font-size: 30px;
}

main img {
    width: 200px;
    height: auto;
    margin-left: 110px;
}

footer {
    margin-top: 100px;
}

